.auto_copy {
    cursor: pointer;
}
.auto_copy:hover {
    color: #d35400;
}
.process_status {
    background: linear-gradient(to right, #27ae60 0%,#e67e22 50%,#c0392b 100%);
    position: relative;
    overflow: hidden;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.progressbar {
    background: transparent;
    padding-top: 8px;
    color: #fff;
    font-weight: bold;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    transition: width 1.2s ease 0s;
    width: 0;
}
.progressbar_blank {
    width: 81%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #ecf0f1;
    transition: width 0.8s ease 0s;
}
.for_progress {
    margin: 5px 0;
}